/* src/App.css */
.ns-wrapper {
    text-align: center;
    margin-top: 50px;
  }
  
  .ns-wrapper div {
    margin-bottom: 20px;
  }
  
  .ns-wrapper h1 {
    font-size: 24px;
  }
  
  .ns-wrapper h6 {
    font-size: 18px;
    color: gray;
  }